/* .grid{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
} */

/* .square{
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: rgb(129, 129, 129);
  border: solid 1px black;
} */

.squarex{
  background-color: crimson;
}

.squareo{
  background-color: greenyellow;
}